<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
           http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd">

    <!--为后端控制器Action注入业务Bean,Action必须有此属性set方法 -->

	<bean name="/login" class="com.cx.bank.action.UserLoginAction" >
	   <property name="um" ref="userManager"/>
	</bean>

    <bean name="/userOperation" class="com.cx.bank.action.UserOperationAction" >
       <property name="um" ref="userManager"/>
    </bean>
    
     <bean name="/register" class="com.cx.bank.action.UserRegisterAction" >
         <property name="um" ref="userManager"/>
     </bean>

    <bean name="/changelang" class="com.cx.bank.action.ChangeLanguageAction" />

 </beans>